table{
    table-layout: fixed;
    border-collapse: collapse;
    border:1px solid black;
    color: white;
    font-family: Roboto,sans-serif;
    text-align: center;
    empty-cells: hide;
}

th{
   background-color: #27426d;
}

body{
    background-color: #c7ced8;
}
tbody tr:nth-child(1){
    background-color: #27426d;
}
tr:nth-child(even){
    background-color: #6facff;
}
tr:nth-child(odd){
    background-color: #4f8cef;
}
th, td{
width: 14.28%;
    border: 1px solid black;
}
