.button{
    background-color: #4CAF50;
    cursor:pointer;
    padding: 20vh 20vh;
    display: inline-block;
    margin: 4px 4px 4px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}