.container{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
}

.container img{
    width: 15vh;
    height: 15vh;
    margin: 20px;
    pointer-events: none;
}

.screen{
    max-height: 100%;
    max-width: 100%;
}

.screen-container{
    height: 900px;
    width: 900px;
    display: flex;

}

iframe{
    width: 368px;
    height: 770px;
    position: absolute;
    left: 120px;
    top: 85px;
border-radius: 25px;

}

.radiozenders{
    text-align: center;
}