div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #4CAF50;
}

.een{
    top: 10px;
    left: 10px;
    box-shadow: 1px 1px 1px black;
    opacity: 90%;
    z-index: 5;
}

.twee {
    top: 20px;
    left: 20px;
    box-shadow: 1px 1px 1px black;
    opacity: 70%;
    z-index: 4;
}

.drie{
    top: 30px;
    left: 30px;
    box-shadow: 1px 1px 1px black;
    opacity: 50%;
    z-index: 3;
}

.vier{
    top: 40px;
    left: 40px;
    box-shadow: 1px 1px 1px black;
    opacity: 30%;
    z-index: 2;
}

.vijf{
    top: 50px;
    left: 50px;
    box-shadow: 1px 1px 1px black;
    opacity: 10%;
    z-index: 1;
}