

h1 {
    text-align: center;
    color: yellow;
}
*{
    box-sizing: content-box;
}
body {
    background-color: black;

}

.Audio{
    border-style: groove;
    border-color: yellow;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    float: left;
    display: inline-block;
    min-width: 200px;
    width: 20%;
    text-align: center;
}

.Image{
    height: 200px;
    width: 200px;
}

div:hover{
    background-color: lightskyblue;
}

.Container{

}


