* {
    box-sizing: content-box;
    font-family: Roboto, sans-serif;
}

main {
    width: 1200px;
}

header {
    width: 1200px;

}

body {
    background-image: url("Assets/road.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;
    display: flex;
    justify-content: center;
}

.Container {
    display: flex;
    margin-bottom: 10px;
    align-content: center;
background: white;
}

.spacer {
    margin-bottom: 10px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    padding: 0;
    margin: 0;

}

li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
text-align: center;
margin: auto;
    height: 100%;
}

li{
    height: 100%;
    margin: 0;
    vertical-align: center;
}

.icoon{
    position: relative;
    top: 2px;
    max-width: 2.3rem;

}

li :nth-child(1){
    margin-left: 30px;
}

li a:hover{
    color: white;
    background-color: black;
}

.titel-ford {
    display: flex;
    flex: 1;
    background: white;
    text-align: center;
    align-items: center;
}

.--titel{
    font-size: 3rem;
    padding-left: 30px;
    text-shadow: 1px 1px 1px red;
}

.foto-mustang {
    display: inline-block;
    flex: 2;
    background: white;
    text-align: center;
}
.titel-en-foto{
  height: 300px;
}

.mustang {
    max-width: 100%;
    max-height: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 1200px;
    background: white;
    height: 50px;
}

.films-en-series{
padding: 2rem;
font-size: 1rem;
}