body {
    font-family: 'Roboto', sans-serif;
    background-color: lightskyblue;

}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: dodgerblue;
    font-size: 20px;
    text-shadow: 1px 1px;
}

.button {
    background-color: lightskyblue;
    border: 2px solid white;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    margin-right: 4px;

}

.button:hover {
    background-color: dodgerblue;
    color: white;
    box-shadow: 0 6px 8px 0 grey, 0 10px 25px 0;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

ul li {
    list-style: none;
}

ul li:before {
content: url("Assets/2849814_note_audio_sound_music_multimedia_icon (1).png");
padding-right: 2px;
}

#Goback div{
margin-left: 20px;
    float: none;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid darkorange;
    padding: 20px;
color: white;
    font-family: Calibri, sans-serif;
}
#Pukkelpop2{
    background-color: blueviolet;
}

#Rock\ Werchter2{
    background-color: indianred;
}

#Tomorrowland2{
    background-color: limegreen;
}

#Grasspop2{
    background-color: plum;
}

#Dour2{
    background-color: dimgrey;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
    border:1px solid black;
    color: white;
    font-family: Roboto,sans-serif;
    empty-cells: hide;
    height: 350px;
    margin-bottom: 20px;
}

table th{
    border: solid 1px white;
}
td {

    border-collapse: collapse;
    border:1px solid white;

}