
body{
    font-family: Roboto,sans-serif;
    box-sizing: content-box;
}

.foto{
    display: inline-block;
    width: 20%;
    margin-left: 60px;
    float:left;

}
header{
    display: flex;
    flex-wrap:wrap;
    background-color: #6a7689;
}
.afbeelding-kat{
    max-height: 100%;
    max-width: 100%;
    min-width: 100px;
    min-height: 100px;
    border-radius: 90%;
    width: 10vw;
    height: 10vw;
    flex:1;
}

.Hoofdtitel{
    width: 20%;
    float:left;
    flex:2;
    text-align: center;
}

.profiel{
    display: flex;
    flex-wrap: wrap;


}

.profiel>*:nth-child(1){
    flex: 1 1 10%;
    text-align: center;
}
.profiel>*:nth-child(2){
    flex: 1 1 75%;
}
.profiel-titel{
    width: 24%;

    height: 120px;
}

.profiel-tekst{
    width: 75%;

}

.divider{
    border-top: 8px solid dodgerblue;
    border-radius: 8px;
    position: relative;
    top: -10px;
}

ul{
    list-style-type: none;
}
li{
    margin-bottom: 20px;
}
.info{
    flex:3;
    text-align: right;

}

