*{
    box-sizing: border-box;
}

table {
    table-layout: fixed;
    text-align: center;
    width: 800px;
    display: inline-block;
    margin-right: 20%;
    border: solid 2px darkred;

}

td {
    width: 100px;
    height: 100px;
    border: solid 2px darkred;
}

body {
    background-image: url("Assets/hout.jpg");
}

table tr:nth-child(odd) td:nth-child(odd) {
    background-image: url("Assets/witte-marmer.jpg");

}

table tr:nth-child(even) td:nth-child(even) {
    background-image: url("Assets/witte-marmer.jpg");

}

table tr:nth-child(odd) td:nth-child(even) {
    background-image: url("Assets/zwarte-marmer.jpg");
}

table tr:nth-child(even) td:nth-child(odd) {
    background-image: url("Assets/zwarte-marmer.jpg");
}

#Beschrijving{
    border: solid 4px darkred;
    width: 20%;
    display: inline-block;
    position: relative;
    top: -680px;
    background-image: url("Assets/witte-marmer.jpg");
    padding-bottom: 80px;
    text-align: center;
}

