
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: hotpink;
    padding: 0;
    margin: 0;

}

li{
    float: left;


}

body{
    background-color: lightpink;
}



li a{
    display: block;
    color: white;
    text-align: center;
    justify-items: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover{
    background-color: deeppink;
}