body{
    min-height: 100vh;
    background: linear-gradient(to right top, #45B8AC, #5B5EA6);
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.blad{
    background: white;
    min-height: 80vh;
    height: 120vh;
    width: 50%;
    box-shadow: 5px 7px 6px black;
    border-radius: 15px;
}

.container{
display: flex;
}

.afbeelding-kat{
    max-height: 100%;
    max-width: 100%;
    min-width: 100px;
    min-height: 100px;
    border-radius: 90%;
    width: 10vw;
    height: 10vw;
    margin-left: 15px;
}

.Hoofdtitel{
    width: 20%;
    float:left;
    flex:2;
    text-align: center;
}

.onderdeel{
    display: flex;
    flex-wrap: wrap;

}

ul{
    list-style-type: none;
}

li{
    margin-top: 20px;
}

.divider-header{
    border-top: 8px solid dodgerblue;
    border-radius: 8px;
    position: relative;
    top: -10px;
}

.onderdeel>*:nth-child(1){
    flex: 1 1 10%;
    text-align: center;

}
.onderdeel>*:nth-child(2){
    flex: 1 1 75%;
}

.titels{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider{
    box-shadow: 1px 1px 1px black;
    width: 70%;
}

.afbeelding-kat:hover{
    box-shadow: 3px 6px 4px grey;
}
.afbeelding-kat:active{
    border: black solid 3px;
    box-shadow: 0 0 0 grey;
}