* {
    box-sizing: content-box;

}
a{
    color: white;
}
.Container {
    display: flex;
    margin-bottom: 20px;
}

.fotoDiv {

    height: auto;
    flex: 1;
    border: black solid 1px;
    float: left;

}

.AudiA7 {
    margin-left: 20px;
    width: 63%;
    background-color: black;
    color: white;
    padding: 20px;
}

#foto1 {
    max-height: 100%;
    max-width: 100%;

}

.Menu {
    width: 10%;
    background-color: black;
    color: white;
    border: solid black 1px;
    flex-direction: column;
    display: flex;
    padding-left: 20px;
    line-height: 28px;
}

.Interieur {
    margin-left: 20px;
    width: 89%;
    background-color: lightslategrey;
    border: solid black 1px;
    display: inline-block;
    height: 50%;
    padding-left: 20px;
}

.InterieurContainer {
    flex: 1;
    width: 20%;
    margin-right: 20px;
    float: left;
}

.Prettig {
    width: 78%;
    display: inline-block;
position: relative;

}

.Steil {
    width: 78%;
    display: inline-block;
    float: left;

}

.Interieurfotos {
    max-height: 100%;
    max-width: 100%;
}